<p>
  The UF Carpentries Club is offering a two day Carpentries-inspired workshop to help the
  UF community get started learning R and common software development tools such
  as the Unix shell, and Git. Need to learn some programming for a class? Want to collaborate effectively with your peers? We were there once too. Come start learning with us.
</p>
<p>
  Our instructors are trained by the Carpentries in evidence-based pedagogy and our
  materials have been developed collaboratively over years by dozens of contributors.
  The <a href="https://informatics.institute.ufl.edu/">University of Florida Informatics Institute</a>
  and <a href="https://biodiversity.institute.ufl.edu/">Biodiversity Institute</a>
  have generously volunteered space and resources for this workshop in order to
  advance the skillset of the UF community. The organizers, instructors, and helpers
  are volunteering their time to help UF, and you!
</p>
<p>
  The international <a href="{{site.swc_site}}">Software Carpentry</a> organization
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
